
.textocontacto{
    background-color: darkgray;
}

.contacto{
    display: flex;
    flex-direction: row;
    color: white;
    .infocontacto{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}

.pasosaseguir{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
}