
.svgbg{
    background-color: #191654;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23191654' cx='50' cy='0' r='50'/%3E%3Cg fill='%231d2055' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23202856' cx='50' cy='100' r='50'/%3E%3Cg fill='%23232e58' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23253459' cx='50' cy='200' r='50'/%3E%3Cg fill='%2328395a' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%232a3e5b' cx='50' cy='300' r='50'/%3E%3Cg fill='%232c425c' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%232f465d' cx='50' cy='400' r='50'/%3E%3Cg fill='%23314a5f' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23334e60' cx='50' cy='500' r='50'/%3E%3Cg fill='%23345161' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23365562' cx='50' cy='600' r='50'/%3E%3Cg fill='%23385863' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%233a5b64' cx='50' cy='700' r='50'/%3E%3Cg fill='%233b5e65' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d6166' cx='50' cy='800' r='50'/%3E%3Cg fill='%233f6467' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23406768' cx='50' cy='900' r='50'/%3E%3Cg fill='%23426969' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23436C6A' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        @include radioysombra(100%,0px 0px);
        width: 50%;
    }
}

.button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    a{
        text-decoration: none;
        color: white;
    }
    cursor: pointer;
    outline: none;
    background-color: #F26389;
} 
   .button:hover {
    background-color: #45BF9D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
   .button:active {
    transform: translateY(-1px);
   }

.carousel{
    img{
        width: 100%;
    }
}

.card-body{
    background-color: #F26389;
    .card-title{
    color:white;
    border-radius: 5%;}
    p{
        color: white;
    }
}

.navbar__logo{
    height: 30px;
    width: 30px;
}