
@media (max-width:$mobile){
    //INDEX

    .seccioninicial{
        display: flex;
        flex-direction: column;
    }
    
    //NOSOTROS

    .section__nosotros{
        display: flex;
        flex-direction: column;
        .swipe{
            display: inline;
        }
    }

    .banner__ul li{
        margin: 1rem;
        padding: 1rem;}
    
    .swipe{
        display: inline;
    }

    // CONTACTO 
    .contacto
    {flex-direction: column;}
    .pasosaseguir
    {flex-direction: column;}


    // GALERIA
    .galeriatitulo
    {flex-direction: column;}
    .galeriasvg{
        display: none;
    }
}


