// SMARTPHONES


@media (max-width:$mobile){
    //INDEX

    .seccioninicial{
        display: flex;
        flex-direction: column;
    }
    
    //NOSOTROS

    .section__nosotros{
        display: flex;
        flex-direction: column;
        .swipe{
            display: inline;
        }
    }

    .banner__ul li{
        margin: 1rem;
        padding: 1rem;}
    
    .swipe{
        display: inline;
    }

    // CONTACTO 
    .contacto
    {flex-direction: column;}
    .pasosaseguir
    {flex-direction: column;}


    // GALERIA
    .galeriatitulo
    {flex-direction: column;}
    .grid-gallery__imgae{
        width: 10%;
    }
}


// TABLETS 



@media (max-width:$tablet){
    //INDEX

    .seccioninicial{
        display: flex;
        flex-direction: column;
    }
    
    //NOSOTROS

    .section__nosotros{
        display: flex;
        flex-direction: column;
        .swipe{
            display: inline;
        }
    }

    .banner__ul li{
        margin: 1rem;
        padding: 1rem;}
    
    .swipe{
        display: inline;
    }

    // CONTACTO 
    .pasosaseguir
    {flex-direction: column;}


    // GALERIA
    .galeriatitulo
    {flex-direction: column;}
    .grid-gallery__imgae{
        width: 10%;
    }
}




// GALERIA FOTOS RESPONSIVE

@media all and (min-width: 320px) {
    .grid-gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media all and (min-width: 768px) {
    .grid-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media all and (min-width: 1024px) {
    .grid-gallery {
      grid-template-columns: repeat(6, 1fr);
    }
  }
